{%- set logstash_forwarder = salt['grains.filter_by']({
  'Debian': {
    'pkg': 'logstash-forwarder',
    'svc': 'logstash-forwarder',
    'cert_path': '/etc/ssl/certs/logstash-forwarder.crt',
    'timeout': '15',
    'log_to_syslog': True,
    'quiet': True,
    'init_file': 'salt://logstash_forwarder/files/logstash-forwarder.deb.init',
    'files': [
      {
        'paths': ['/var/log/syslog'],
        'fields': {'type': 'syslog'}
      }
    ],
    'files_extend': {}
  },
  'RedHat': {
  	'pkg': 'logstash-forwarder',
  	'svc': 'logstash-forwarder',
  	'cert_path': '/etc/pki/tls/certs/logstash-forwarder.crt',
    'timeout': 15,
    'log_to_syslog': True,
    'quiet': True,
    'init_file': 'salt://logstash_forwarder/files/logstash-forwarder.rpm.init',
    'files': [
      {
        'paths': ['/var/log/messages'],
        'fields': {'type': 'syslog'}
      }
    ],
    'files_extend': {}
  }
}, merge=salt['pillar.get']('logstash_forwarder')) %}
